*집에서 설치

1.git을 구글에 검색해서 설치하기
2.깃허브 데스크탑 검색해서 설치
3.설치한 깃허브 데스킄탑 열어서 로그인 및 인증하기
4.저장소(레포지토리)만들기
5.create repositories... 세번째 클릭
6.창이 뜨면 name은 레포지토리 명 -> 하단에 저장 할 경로 -> 레포지토리 생성
7.생성하면 지정한 경로 폴더안의 폴더를 vscode로 열기
